.tabs {
  &-nav {
    background: #fff;
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 27px 27px -27px rgba(0, 0, 0, 0.06);
  }
  .tab {
    flex: 1;
    &-name {
      line-height: 22px;
      font-size: 22px;
      font-weight: 600;
      padding: 40px 0 36px;
      text-align: center;
      color: #9c9c9e;
      border-bottom: 4px solid transparent;
      position: relative;
      letter-spacing: 4px;
      &-sep {
        width: 2px;
        height: 38px;
        background-color: #d4d4d4;
        position: absolute;
        right: 0;
        @include center();
      }
      &.active {
        color: rgba(26, 26, 26, 1);
        border-color: rgba(26, 26, 26, 1);
      }
    }
  }
}
